<p>Congratulations!  You have added your car!</p>
<ul>
  <li>@Model.GetMakeModel()</li>;
  <ul>
    <li>@Model.GetColor</li>;
    <li>@Model.GetYear</li>;
    <li>@Model.GetPrice</li>;
  </ul>
</ul>
<a href="/">Add More Cars!</a>
<a href="/cars">View Cars Added.</a>
