<h1>Welcome to Derek's Car Deals!</h1>
<h2>Please enter some information about your car!</h2>

<form action="/added" method="post">
  <label for="makeModel">Enter the Make and Model of your car:</label>
  <input type="text" name="makeModel" id="makeModel" required>

  <label for="color">Enter the Color of your car:</label>
  <input type="text" name="color" id="color" required>

  <label for="year">Enter the Year of your car:</label>
  <input type="text" name="year" id="year" required>

  <label for="price">Enter the estimated value of your car:</label>
  <input type="text" name="price" id="price" required>
  <button type="submit">Submit</button>
</form>
<p><a href="/cars">View Cars</a></p>
